body {
  font-family: 'Segoe UI';
  background: #0f172a;
  color: white;
  margin: 0;
}

header {
  background: #020617;
  padding: 15px;
  display: flex;
  justify-content: space-between;
}

.container {
  display: flex;
}

.sidebar {
  width: 240px;
  background: #020617;
  height: 100vh;
  padding: 20px;
}

.sidebar button {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  background: transparent;
  border: 1px solid #1e293b;
  color: white;
}

.content {
  flex: 1;
  padding: 20px;
}

.card {
  background: #020617;
  padding: 20px;
  border-radius: 10px;
  margin-bottom: 10px;
}

.notification {
  position: fixed;
  bottom: 20px;
  right: 20px;
  padding: 15px;
  border-radius: 10px;
}
